{% extends 'base.html' %}

{% block title %}
<title>BLOG | ADOPTPET</title>
{% endblock title %}


{% block content %}



    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-md-6 text-center full-content">
                <h2 class="section-title no-border v-3"><span>Blog</span>Page</h2>
                <p class="sub-section-title v-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora magni minima omnis pariatur officiis saepe illum magnam corporis recusandae. Obcaecati?</p>
                <div class="mrb-45"></div>
                <!--  /.mrb -->
            </div>
            <!--  /.col-md-12 -->
        </div>
        <!--  /.row -->
    
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="images/blog3.jpg" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title">The Animal Rescue Site News.</h2>
                                       
                                        <div class="entry-meta">
                                            <div class="entry-date">June 25,2019</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>Seattle, Washington, US The Animal Rescue Site provides food and vital care for some of the eight million unwanted animals given to shelters every year in the U.S., as well as animals in desperate need around the world. Frequency 11 posts / day</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="bi bi-chat-left-text"></i></a>
                                                <a href="#">50 <i class="bi bi-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <!--  /.col-md-6 -->
    
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="images/blog1.jpg" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title">Saving animals from suffering around the world</h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">July 25,2020</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        UK At International Animal Rescue we save & protect animals from suffering around the world. Our work includes cutting free & caring for dancing bears in India, rescuing primates from captivity in Indonesia & sterilising and vaccinating stray dogs & cats in developing countries. Wherever possible we return rescued animals to their natural environment but we also provide a permanent home for animals.
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="bi bi-chat-left-text"></i></a>
                                                <a href="#">50 <i class="bi bi-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <!--  /.col-md-6 -->
    
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="#">
                                        <img src="images/blog5.jpg" alt="blog image" />
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title">Dogs for Adoption </h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">May 2,2017</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="#">Halie Rose</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                       Dogsblog is a unique and innovative online resource for would-be dog owners to help them find a new dog to adopt from an animal rescue in the UK.Our work includes cutting free & caring for dancing bears in India, rescuing primates from captivity in Indonesia & sterilising and vaccinating stray dogs & cats in developing countries. Wherever possible we return rescued animals to their natural environment but we also provide a permanent home for animals
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a href="#" class="more-link">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="bi bi-chat-left-text"></i></a>
                                                <a href="#">50 <i class="bi bi-share"></i></a>
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <!--  /.col-md-6 -->
                </div>
                <!--  /.blog-carousel -->
            </div>
            <!--  /.col-12 -->
        </div>
        <!--  /.row -->
    </div>
    <div class="container mb-5 pb-5">
        <div class="row no-gutters">
          <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
              <div class="media-img">
                <img src="images/blog1.jpg" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">25 july 2017</span>
                <h5 class="mt-0 sep">The Animal Rescue Site News</h5>
                <p>Seattle, Washington, US The Animal Rescue Site provides food and vital care </p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">Read More</a>
                <div class="col-6 text-right footer-meta">
                    <a href="#">65 <i class="bi bi-chat-left-text"></i></a>
                    <a href="#">50 <i class="bi bi-share"></i></a>
                </div>
              </div> 
            </div>
          </div>
          
          <div class="col-xl-6 col-12">
            <div class="media media-news">
              <div class="media-img">
                <img src="images/blog2.jpg" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">13 August 2018</span>
                 <h5 class="mt-0 sep"> The Animal Rescue Site News</h5>
                <p>Seattle, Washington, US The Animal Rescue Site provides food and vital care </p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">Read More</a>
                <div class="col-6 text-right footer-meta">
                    <a href="#">65 <i class="bi bi-chat-left-text"></i></a>
                    <a href="#">50 <i class="bi bi-share"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row no-gutters mt-4">
          <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
              <div class="media-img">
                <img src="images/blog3.jpg" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">25 july 2017</span>
                <h5 class="mt-0 sep">The Animal Rescue Site News</h5>
                <p>Seattle, Washington, US The Animal Rescue Site provides food and vital care</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">Read More</a>
                <div class="col-6 text-right footer-meta">
                    <a href="#">65 <i class="bi bi-chat-left-text"></i></a>
                    <a href="#">50 <i class="bi bi-share"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-6 col-12">
            <div class="media media-news">
              <div class="media-img">
                <img src="images/blog4.jpg" alt="Generic placeholder image">
              </div>
              <div class="media-body">
                <span class="media-date">13 August 2018</span>
                 <h5 class="mt-0 sep"> Tincidunt dui ornare</h5>
                <p>Facilisi morbi tempus iaculis urna id volutpat lacus. Mi eget mauris pharetra et. Fermentum iaculis</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">Read More</a>
                <div class="col-6 text-right footer-meta">
                    <a href="#">65 <i class="bi bi-chat-left-text"></i></a>
                    <a href="#">50 <i class="bi bi-share"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    {% endblock content %}